@model Airline.Web.Models.NewFlightViewModel
@{
    ViewBag.Title = "New Flight";
}

<div class="row">
    <div class="col-md-10">
        <h2>New Flight</h2>
        @using (Html.BeginForm("NewFlight", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Fill in the data to create a new flight</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Departure, new { @class = "col-md-2 control-label h6" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Departure, new { @class = "form-control", @type = "Date" })
                    @Html.ValidationMessageFor(m => m.Departure, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Arraival, new { @class = "col-md-2 control-label h6" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Arraival, new { @class = "form-control", @type = "Date"  })
                    @Html.ValidationMessageFor(m => m.Arraival, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FromCountry, new { @class = "col-md-2 control-label h6" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FromCountry, new {@class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromCountry, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FromCity, new { @class = "col-md-2 control-label h6" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FromCity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromCity, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ToCountry, new { @class = "col-md-2 control-label h6" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ToCountry, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ToCountry, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ToCity, new { @class = "col-md-2 control-label h6" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ToCity, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ToCity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label h6" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Price, new { @type = "number", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Total, new { @class = "col-md-2 control-label h6" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Total, new { @type = "number", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Total, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn-dark" />
                </div>
            </div>
        }
    </div>

</div>